
.App {
	margin: 2rem 10rem;
  padding : 2rem 5rem;
	display: flex;
  justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	height: 80vh;
}

.stories {
	filter: drop-shadow(0 20px 30px #aaa);
}
